<!DOCTYPE html>
<html>
    {% block stylesheets %}
    {{encore_entry_link_tags('app')}}
    {% endblock %}

    {{ include('navbar.html.twig') }}

    <div class = "container-fluid">
        <h4><b> Burial Transit Form </b></h4>
        {{ form(form) }}
    </div>
</html>
