<!DOCTYPE HTML>
<html>

    <link href="{{ asset('https://www.w3schools.com/w3css/4/w3.css') }}" rel="stylesheet"/>

    <div class="w3-bar">
      <div class="w3-left">
        <a class="w3-button" href="{{ path('display') }}">Display Page</a>
        <a class="w3-button" href="{{ path('lot_purchase') }}">Lot Purchase</a>
      </div>
    </div>
</html>